
  /*style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("background img.jpeg");
  
    background-size: cover;
    color: #d2d2d2;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .title {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
  }
  .temperature-converter {
    
    backdrop-filter: blur(30px); 
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
    border-radius: 2rem  ;
    border: 0.02rem solid white;
    box-shadow: 15px 15px 15px black;
    
    

  }
  .result {
    text-align: center;
    margin: 20px 0;
  }
  .result-heading {
    color: #e4f450;
    font-size: 1rem;
    font-weight: 600;
  }
  .celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
  }
  label {
    color: #e9e9e9;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    color: #e4f450;
    padding: 8px;
    margin-bottom: 15px;
  }
  input:focus {
    border: 1px solid #d4d4d4;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-weight: bold;
  }
  .degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
  }
  option {
    background-color: #0f0d7c;
    color: #f6f6f6;
  }
  #convert-btn {
    background: linear-gradient(to bottom, #f38d33, #540a0a);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
  }
  #convert-btn:hover {
    background: linear-gradient(to bottom, #f0f07e, #ebc023);
    color: black;
    font-weight: bold;
  }